body {
    margin-top: 76px;
    background: #ffffff;
}

.sidebar-item > a {
    font-size: 20px;
}

th, td{
    text-align: center;
}

td>button{
    width: 42px;
    height: 38px;
}

#user-icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 1px solid rgb(0, 0, 0);
}

.icon-button{
    color: #ffffff;
    padding:0px 10px;
    font-size: 30px;
}

.message-notification{
    min-width: 200px;
    max-width: 200px;
    background-color: #9b9b9b;
    margin: 5px 5px 5px 15px;
    border-radius: 25px 25px 25px 0px;
}

.message-notification > p{
    text-align: center;
    margin: auto;
}

#notification-point {
    position: absolute;
    top: 16px;
    right: 16px;
    background: red;
    height: 10px;
    width: 10px;
    border-radius: 25px 25px 25px 25px;  
    /* animation: glowing 1200ms infinite; */
}


@keyframes glowing {
    0% { background-color: #ffffff; box-shadow: 0 0 5px #2ba805; }
    50% { background-color: #ff6f6f; box-shadow: 0 0 20px #49e819; }
    100% { background-color: red; box-shadow: 0 0 5px #2ba805; }
}

i.stud-status {
    color: #9b9b9b;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    right: 0px;

}
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
}

.modal-content{
    background: #ffffff;
}
.modal-content h5{
    color: #000000;
    font-size: 25px;
    text-align: center;
}
.modal-content label{
    color: #000000;
}
.btn-add, #btn-edit-confirm {
    background-color: #ffffff;
    border: 1px solid #000000;
}
.btn-edit-stud, .btn-delete-stud{
    font-size: 16px;
    padding: 0px;
}

@media (max-width: 768px) {
    table {
      font-size: 10px;
    }
    .btn-edit-stud, .btn-delete-stud{
        font-size: 10px;
        padding: 0px 0px;
        max-width: 25px;
        max-height:25px ;
    }
}
@media (max-width: 400px) {
    table {
      font-size: 10px;
    }
    .btn-edit-stud, .btn-delete-stud{
        font-size: 5px;
        padding: 0px 0px;
        max-width: 20px;
        max-height:20px ;
    }
}

.chat-box {
    background-color: white;
    border: 1px solid #000000;
}

#name-chats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-chat-box {
    background-color: #beb8b8;
    width: calc(100% - 10px);
    height: 50px;
    margin: 0px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .user-chat-box p {
    margin: 0;
  }
  
#users-container {
    display: flex;
  }
.user-box {
    width: 70px;
    display: flex;
    margin-right: 20px;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}
  
.messages-container {
    display: flex;
    flex-direction: column;
    height: 500px; /* Задаємо статичну висоту */
    overflow: auto; /* Додаємо повзунок, який з'являється, коли вміст перевищує висоту */
}

.message-content {
    width: 100%;
    max-width: 100%;
    height: auto;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: #beb8b8;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
  }
  
  .message-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .message-time {
    margin-bottom: 5px;
    font-size: 12px;
    color: #666;
  }
  
  .message p {
    margin: 0;
    text-align: left;
  }
  
